{% extends "base.html" %}
{% block explain_contents %}
<!-- 성적에서 일일이 get/post 로 만들어 주어야 한다. -->
<a href="/sungjuk_insert" > 새로운 데이터 입력 </a> <!--새로운 페이지로 넘어가게-->
<table class="table">
    <thead>
      <tr>
        <th>번호</th><th>이름</th> <th>국어</th> <th>영어</th> <th>수학</th> 
        <th>총점</th> <th>평균</th> <th>학점</th><th>수정</th><th>삭제</th>
      </tr>
    </thead>
    <tbody>
    {% for sungjuk in object_list %}  
    <tr>   
    <td>{{ sungjuk[0] }}</td>  <td>{{ sungjuk[1] }} </td> <td>{{ sungjuk[2] }}</td>  
    <td>{{ sungjuk[3] }}</td>  <td>{{ sungjuk[4] }}</td>  <td>{{ sungjuk[5] }} </td> 
    <td>{{ sungjuk[6] }}</td>  <td>{{ sungjuk[7] }}</td> 
    <td>
        <form name="myForm" id="myForm" action="/sungjuk_update" method="post">
            <input type="hidden" id='bunho'   name='bunho'  value={{ sungjuk[0] }}  size="10">
            <button type="submit">성적 수정</button>
        </form>
    </td>
    <td>
        <form name="myForm" id="myForm" action="/sungjuk_delete" method="post"
            <input type="hidden" id='bunho'   name='bunho'  value={{ sungjuk[0] }}  size="10">
            <button type="submit">성적 삭제</button>
        </form>
    </td>
    </tr>
    {% endfor %}   
    </tbody>
</table>
{% endblock explain_contents %}